<div class="capsule" style="border: top dotted black 3px;">
  <%=capsule.title%><br><br>
  <%=capsule.caption%><br><br>
  <%=capsule.url%><br><br>
  <%=capsule.next_time%><br><br>
  <%=capsule.created_at%><br><br>
  <%if capsule.next_time < Time::now%>
    <input name="view-button" type="button" value="View">
  <%else%>
    <a href="/user/<%=capsule.user_id%>/capsule/<%=capsule.id%>/edit">Edit this Capsule</a>
  <%end%>

</div>
